<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>Galvanize Secret</title>
  </head>
  <body>
    <header class="header">
      <a href="/" id="header"><h1>GShhh....</h1></a>
      <div class="links">
        <a href="newAccount" id="new-account">Create Account</a>
        <a href="login" id="login">Login</a>
      </div>
    </header>
    <main>
      <h1 id="GS-name">Galvanize Secrets</h1>
      <p id="welcome">Welcome! Please log in if you are a returning user, or create a new account if this is your first time being secretive!</p>
    </main>

  </body>
</html>
