<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>Login</title>
  </head>
    <header class="header">
      <a href="/" id="header"><h1>GShhh....</h1></a>
      <div class="links">
        <a href="newAccount" id="new-account">Create Account</a>
        <a href="login" id="login">Login</a>
      </div>
    </header>
  <body>
    <main>
      <h1 id="GS-name">Galvanize Secrets</h1>
    </main>

  </body>
</html>
